<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings xdt:Transform="Replace">
    <add key="Host" value="https://mailboxintelligence.azurewebsites.net"/>
    <add key="BotId" value="mailboxintelligence" />
    <add key="MicrosoftAppId" value="08d37d62-a202-42f2-86af-441cbb1e296d" />
    <add key="MicrosoftAppPassword" value="vzoqP05%njrLQKSLK048];;" />
    <!--
    This is a free trial Microsoft Bing Spell Check key with limited QPS.
    Please subscribe to create your own key and try it out further.
    Subscription URL: https://www.microsoft.com/cognitive-services/en-us/subscriptions?productId=/products/56ec2df6dbe2d91324586008
    -->
    <add key="BingSpellCheckApiKey" value="8ae90e80bc4346d59c0f07529dadaa4e" />
    <add key="BingSpellCheckApiEndpoint" value="https://api.cognitive.microsoft.com/bing/v7.0/spellcheck" />
    <add key="BingSpellCheckApiKey" value="PUT-YOUR-OWN-API-KEY-HERE" />
    <!-- Boolean value to enable correcting the text before processing it-->
    <add key="IsSpellCorrectionEnabled" value="false" />
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>